<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form class="newteam" action="/team" method="post">
     <label for="fname">Team name:</label>
     <input type="text" name="name" id= "fname">
     <br>
     <label for="coach">Coach:</label>
     <input type="text" name="coach" id= "coach">
     <br>

     <label for="pguard">Point Gaurd:</label>
    <input type="text" name="pg" id= "pguard">
    <br>

     <label for="sguard">Shooting Gaurd:</label>
     <input type="text" name="sg" id= "sgaurd">
     <br>

     <label for="sforward">Small Forward:</label>
     <input type="text" name="sf" id= "sforward">
     <br>

     <label for="pforward">Power Forward:</label>
     <input type="text" name="pf" id= "pforward">
     <br>

     <label for="center">Center:</label>
     <input type="text" name="c" id= "center">
<br>
      <input type="submit" value="Submit">
   </form>



 </body>
</html>
